{% extends "base.html" %}{% block head %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %} {% block content %}
<table>
  <tr>
    <th class="white-text">Order Number</th>
    <th class="white-text">Status</th>
  </tr>
  <tr>
    <td>6</td>
    <td>Order Ready</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Checking Quality</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Checking Quality</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Preparing</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Order Placed</td>
  </tr>
</table>
{% endblock %}