<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/css/Mario&Luigi.css">

</head>
<body>

<table>
    <tr>
        <th>Order Number</th>
        <th>Name</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>6</td>
        <td>1x Prosciutto (extra prosciutto)</td>
        <td>Order Ready</td>
    </tr>
    <tr>
        <td>7</td>
        <td>1x Margarita (no cheese)</td>
        <td>Checking Quality</td>
    </tr>
    <tr>
        <td>8</td>
        <td>4x Calzone</td>
        <td>Checking Quality</td>
    </tr>
    <tr>
        <td>9</td>
        <td>2x Margarita</td>
        <td>Preparing</td>
    </tr>
    <tr>
        <td>10</td>
        <td>8x Formagi</td>
        <td>Order Placed</td>
    </tr>
</table>

</body>
</html>