{% extends "base.html" %}{% block head %}
<link rel="stylesheet" href="/static/css/orders.css">
{% endblock %} {% block content %}
<table>
    <tr>
        <th class="white-text">Order Number</th>
        <th class="white-text">Name</th>
        <th class="white-text">Status</th>
    </tr>
    <tr>
        <td>6</td>
        <td>1x Prosciutto (extra prosciutto)</td>
        <td>Order Ready</td>
    </tr>
    <tr>
        <td>7</td>
        <td>1x Margarita (no cheese)</td>
        <td>Checking Quality</td>
    </tr>
    <tr>
        <td>8</td>
        <td>4x Calzone</td>
        <td>Checking Quality</td>
    </tr>
    <tr>
        <td>9</td>
        <td>2x Margarita</td>
        <td>Preparing</td>
    </tr>
    <tr>
        <td>10</td>
        <td>8x Formagi</td>
        <td>Order Placed</td>
    </tr>
</table>
{% endblock %}