<!DOCTYPE html>
<html>

    <head>

        <title>Mario and Luigi's Pizzeria</title>
        <link rel="stylesheet" href="/project/static/css/user.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    </head>


    <body>
        
        <div class="navbar-wrapper">
            <div class="logo">
                <div class="mario">Mario</div>
                <div class="and">and</div>
                <div class="luigi">Luigi's</div>
                <div class="pizzeria">Pizzeria</div>
            </div>
            <header>
                

                <nav>
                    <ul>
                        <li><a href="login.html"><i class="fa-regular fa-user"></i></a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </nav>
            </header>

        </div>

    </body>

    <div class="userbox">

        <div class="user-info">

            <div class="usercontent">

                <div class="pic">
                    <img src="/project/static/images/toad.png" alt="">
                </div>

                <div class="ucinfo">


                </div>



            </div>

        </div>

        <div class="user-orders">

            <div class="old-order-info">

                test

            </div>

        </div>

    </div>

</html>