.modal-container{
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    box-sizing: content-box;
    display: block;
    position: absolute;
    border-radius: 30px;
    width: 35%;
    height: 60%;
    background-color: #ffebcc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1%;
    border: 20px solid #fe9a24;
    color: black;
}

.show-modal{
    visibility: visible;
}

.modal-message, .modal-order-number{
    font-size: 2em;
    font-weight: 500;
    margin: 5%;
}

#modal-pay-button, #modal-close-button {
    cursor: pointer;
    width: 45%;
    height: 50%;
    font-size: 1.4em;
    color: white;
    font-weight: 500;
    background-color: #9b8024;
    border-radius: 15px;
}

#modal-pay-button:hover, #modal-close-button:hover {
    background-color: #be9c27;
}

.modal-buttons{
    display: flex;
    flex-flow: row wrap;
    margin: 5%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
}

.modal-order-info{
    height: 75%;
}

.modal-order-items{
    display: flex;
    flex-flow: column nowrap;
}