body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(/project/static/images/pizza_background.jpg);
    background-repeat:repeat;
    background-size: cover;
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    display: flex;
    position: absolute;
    gap: 4px;
    margin-top: 8px;
    color: white;
    font-size: 150%;
    font-weight: 600;
}

.mario {
    color: red;
}

.and {
    font-size: 70%;
    margin-top: 6px;
}

.luigi {
    color: green;
}

.heading {
    text-align: center;
    text-decoration-line: underline;
}

.userbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-info {
    background:  rgba(255, 255, 255, 0.747);
    border: 3px solid black; 
    margin-top: 30px;
    width: 300px; 
    top: 500px;
    
}

.user-orders {
    background: rgba(255, 255, 255, 0.747);
    border: 3px solid black; 
    margin-top: 30px;
    width: 850px; 
    height: 500px;
}

.usercontent {
    display: flex;
    justify-content: column;
    border: 1px solid black;
}



img {
    max-width: 100%;
    max-height: 100%;
}

.pic {
    padding: 15px;
    height: 120px;
    width: 120px;
}


.orderwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    margin-inline: 40px;
}

.order1{
    background: white;
    border-radius: 7px;
    border: 2px solid black;
    padding: 10px;
}
.order2{
    background: white;
    border-radius: 7px;
    border: 2px solid black;
    padding: 10px;
}
.order3{
    background: white;
    border-radius: 7px;
    border: 2px solid black;
    padding: 10px;
}
.order4{
    background: white;
    border-radius: 7px;
    border: 2px solid black;
    padding: 10px;
}
.order5{
    background: white;
    border-radius: 7px;
    border: 2px solid black;
    padding: 10px;
}

