<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    {% block head %}{% endblock %}

</head>

<body>

    <section class="hero is-primary is-fullheight pages-background" style="background-color: rgb(0 0 0 / 83%);">
        <ol class="navbar-container">
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                    Logout
                </a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                    Sign Up
                </a>
            </li>
            <li>
                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                    Login
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('main.tracker') }}" class="navbar-item">
                    Tracker
                </a>
            </li>
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                    Profile
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('main.index') }}" class="navbar-item">
                    Menu
                </a>
            </li>
        </ol>

        {% block body %}
        {% endblock %}

        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>