
{% block head %}
    <script defer src="{{url_for('static', filename='../static/js/minimal.js')}}"></script>
{% endblock %}

{% block body %}

    {% if orders %}
        <h1>{{orders}}</h1>
    {% endif %}


    <div id="id01" class="modal">
    
    <form class="modal-content animate" action="/register" method="POST">
        <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="Enter your first name" name="firstname">

        <label for="lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter your last name" name="lastname">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter your email" name="email">

        <label for="pizzas"><b>Pizzas</b></label>
        <input type="text" placeholder="Enter pizza" name="pizzas">
            
        <label for="drinks"><b>Drinks</b></label>
        <input type="text" placeholder="Enter your drinks" name="drinks">

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    </div>
{% endblock %}